.board-container {
  display: grid;
  grid-template-columns: repeat(var(--board-size), 7em);
  grid-template-rows: repeat(var(--board-size), 7em);
  margin-top: 1em;
}

.board {
  border: 2px solid black;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.board:hover{
  border: 2px solid black;
  /* border: none; */
  background-color: rgb(141, 252, 76);
}

@media screen and (max-width: 765px){
  .board-container {
  display: grid;
  grid-template-columns: repeat(var(--board-size), 5em);
  grid-template-rows: repeat(var(--board-size), 5em);
  margin-top: 1em;
}
}
